#batav1 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#batav1:hover {
       opacity: 0.8;
}

#solbat1 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solbat1:hover {
       opacity: 0.8;
}


#solbat2 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solbat2:hover {
       opacity: 0.8;
}


#solbat3 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solbat3:hover {
       opacity: 0.8;
}


#batav2 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#batav2:hover {
       opacity: 0.8;
}

#solcon1 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solcon1:hover {
       opacity: 0.8;
}

#solcon2 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solcon2:hover {
       opacity: 0.8;
}

#solcon3 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solcon3:hover {
       opacity: 0.8;
}

#solcon4 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solcon4:hover {
       opacity: 0.8;
}

#solcon5 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solcon5:hover {
       opacity: 0.8;
}

#solcon6 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solcon6:hover {
       opacity: 0.8;
}


#batav3 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#batav3:hover {
       opacity: 0.8;
}


#solcam1 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solcam1:hover {
       opacity: 0.8;
}


#solcam2 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solcam2:hover {
       opacity: 0.8;
}

#solcam3 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solcam3:hover {
       opacity: 0.8;
}





#batav4 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#batav4:hover {
       opacity: 0.8;
}


#solecr1 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solecr1:hover {
       opacity: 0.8;
}

#solecr2 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solecr2:hover {
       opacity: 0.8;
}

#solecr3 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solecr3:hover {
       opacity: 0.8;
}

#solecr4 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solecr4:hover {
       opacity: 0.8;
}



#solecr5 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solecr5:hover {
       opacity: 0.8;
}


#solecr6 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solecr6:hover {
       opacity: 0.8;
}



#batav5 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#batav5:hover {
       opacity: 0.8;
}

#solsom1 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solsom1:hover {
       opacity: 0.8;
}

#solsom2 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solsom2:hover {
       opacity: 0.8;
}

#solsom3 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solsom3:hover {
       opacity: 0.8;
}

#solsom4 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solsom4:hover {
       opacity: 0.8;
}

#batav6 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#batav6:hover {
       opacity: 0.8;
}


#solhardw1 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solhardw1:hover {
       opacity: 0.8;
}


#solhardw2 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solhardw2:hover {
       opacity: 0.8;
}

#solhardw3 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solhardw3:hover {
       opacity: 0.8;
}

#solhardw4 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solhardw4:hover {
       opacity: 0.8;
}

#solhardw5 {
     opacity: 0.6; 
    filter: alpha(opacity=60);
}

#solhardw5:hover {
       opacity: 0.8;
}