@{
    ViewBag.Title = "Confirmação | Worten Trocas";
}

<link href="css/style.css" rel='stylesheet' type='text/css' />
@Styles.Render("~/Content/assetsLogin/css/loginNew/style.css")
@Styles.Render("http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700")
@Scripts.Render("~/Content/assetsLogin/plugins/jquery-1.10.1.min.js")



<div class="login-form">

    
        
    
    <div>
        <p>
            Por favor verifique o seu e-mail para restaurar a sua password.
        </p>
    </div>
</div>
