@{
    ViewBag.Title = "Reset password confirmation";
}

<link href="css/style.css" rel='stylesheet' type='text/css' />
@Styles.Render("~/Content/assetsLogin/css/loginNew/style.css")
@Styles.Render("http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700")
@Scripts.Render("~/Content/assetsLogin/plugins/jquery-1.10.1.min.js")



<div class="login-form">

    
    <div>
        <p>
            A sua password foi restaurada. Por favor  @Html.ActionLink("clique aqui para iniciar a sua sessão.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>