
@{
    ViewBag.Title = "Administrador | Worten Trocas";
}

<h2>Administrador</h2>
<br />

<p>Utilizadores</p>
<div>
    <a href="../Account/Register"> Criar Registo </a>
</div>
<br/>
<div>
    <a href="../Users"> Lista de Utilizadores </a>
</div>
<br />

<p>Produtos</p>
<div>
    <a href="../Produtoes/Index"> Produtos Worten </a>
</div>
<br />
<div>
    <a href="../ProdutosUtilizador/CreateAdmin"> Produtos De Utilizador </a>
</div>
<br />
@*<div>
    <a href="../Home/ResumoTrocas/EstadoTrocaAdmin"> Estado Troca - Produto Avariado </a>
</div>
<br />
<div>
    <a href="../Home/ResumoTrocas/EstadoTrocaAdmin"> Estado Troca - Produto Diferente </a>
</div>
<br />
<div>
    <a href="../Home/ResumoTrocas/EstadoTrocaAdmin"> Estado Troca - Reembolso </a>
</div>*@
